body {
  margin: 0;
  padding: 0;
  background: #f0fff0;
}
.container {
  box-sizing: border-box;
  background-color: #fefefe;
  border: 3px solid #999;
  border-radius: 20px;
  width: 1000px;
  margin: 1% auto;
  padding: 3%;
  display: flex;
  flex-direction: column;
  font-family: "Comic Sans MS", Monaco, "楷体", "Noto Sans Mono";
  line-height: 1.5;
}
h2 {
  color: #668bb6;
}
h2:before {
  content: "# ";
}
h3 {
  color: #c396d8;
}
h3:before {
  content: "## ";
}
h4 {
  color: #6fbfb1;
}
h4:before {
  content: "### ";
}
h5 {
  color: #e77724;
}
h5:before {
  content: "#### ";
}
.header {
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
}
.header a {
  text-decoration: none;
  color: #800080;
}
.header .logo {
  font-size: 2em;
}
.header .nav {
  font-size: 1.2em;
}
.header .nav .menu {
  display: flex;
}
.header .nav .menu .menu-item {
  list-style: none;
  margin: 0 5%;
  transition: all 0.3s linear;
}
.header .nav .menu .menu-item:hover {
  transform: scale(1.2);
}
.header .nav .menu .menu-item .menu-item-link:hover {
  color: #4169e1;
}
.main {
  margin: 0;
  padding: 0;
}
.post {
  margin: 3% 0;
  padding: 3%;
  border: 3px solid #ddd;
  border-radius: 15px;
  background-color: #fff;
  box-sizing: border-box;
  transition: all 0.3s linear;
}
.post:hover {
  transform: scale(1.03);
  background-color: #fff;
}
.post .post-title {
  font-size: 1.2em;
}
.post .post-meta {
  color: #999;
}
.post a {
  display: inline-block;
  color: #1e90ff;
  text-decoration: none;
  transition: all 0.1s linear;
}
.post a:hover {
  transform: scale(1.01);
  color: #4169e1;
}
.post .post-content img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 5px #1e90ff;
  transition: all 0.3s linear;
  margin: 3% 0;
}
.post .post-content img:hover {
  transform: scale(1.01);
}
.post .post-content blockquote {
  border-left: 2px solid #1e90ff;
  margin: 0;
}
.post .post-content blockquote p,
.post .post-content blockquote footer {
  margin-left: 3%;
}
.post .hljs {
  border: 2px solid #eee;
  border-radius: 9px;
  padding: 3% 4%;
}
.post blockquote code,
.post p code,
.post li code {
  color: #4682b4;
}
.footer {
  margin: 0 auto;
}
.footer a {
  display: inline-block;
  color: #1e90ff;
  text-decoration: none;
  transition: all 0.1s linear;
  color: #800080;
}
.footer a:hover {
  transform: scale(1.01);
  color: #4169e1;
}
.article {
  margin: 3% 0;
  padding: 3%;
  border: 3px solid #ddd;
  border-radius: 15px;
  background-color: #fff;
  box-sizing: border-box;
}
.article .article-meta {
  color: #999;
}
.article-content a {
  display: inline-block;
  color: #1e90ff;
  text-decoration: none;
  transition: all 0.1s linear;
}
.article-content a:hover {
  transform: scale(1.01);
  color: #4169e1;
}
.article-content img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 5px #1e90ff;
  transition: all 0.3s linear;
  margin: 3% 0;
}
.article-content img:hover {
  transform: scale(1.01);
}
.article-content blockquote {
  border-left: 2px solid #1e90ff;
  margin: 0;
}
.article-content blockquote p,
.article-content blockquote footer {
  margin-left: 3%;
}
.article-content .hljs {
  border: 2px solid #eee;
  border-radius: 9px;
  padding: 3% 4%;
}
.article-content blockquote code,
.article-content p code,
.article-content li code {
  color: #4682b4;
}
.archive {
  margin: 3% 0;
  padding: 3%;
  border: 3px solid #ddd;
  border-radius: 15px;
  background-color: #fff;
  box-sizing: border-box;
}
.post-item {
  background-color: #fff;
  border-bottom: 3px solid #eee;
  border-radius: 20px;
  margin-bottom: 1%;
  padding: 2%;
  list-style: none;
  transition: all 0.3s linear;
}
.post-item .post-date {
  color: #999;
}
.post-item .post-title {
  text-decoration: none;
  color: #333;
  font-size: 1.3em;
  margin-left: 1%;
}
.post-item:hover {
  transform: scale(1.03);
}
.page-nav .page-number {
  margin: 0 1%;
}
.gutter > pre {
  margin-right: 1rem;
}
.code {
  background-color: #eee;
  border-radius: 10px;
  padding-left: 1rem;
  padding-right: 1rem;
}
